ul {
    list-style: none;
    /*font-family: Avenir;*/
}

.expiring-info {
    display: flex;
    flex-direction: column;
    gap: .5vh;
    padding-left: 0;
    color:white;
    overflow-y: scroll;
}
.item-entry {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.expiring-header {
    display: grid;
    grid-template-columns: 25vw 19vw 7vw;
    padding-top: 2vw;
    padding-left: 1vw;
    font-weight: bold;
    font-family: "Helvetica Neue";
    font-size: 1vw;
}

.expiring-title {
    font-size: 1.2vw;
    font-weight: bold;
    color:#002438;
}

.expiring-page {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    column-gap: 1vw;
    background-color: #fff;
    border-radius: 1vw;
    margin-top: 4vw;
}