li.expiring-item{
    display: grid;
    grid-template-columns: 28vw 20vw 7vw;
    background-color: #546a7b;
    border-radius: 3vh;
    padding-left: 2vh;
    padding-right: -100vh;
}
button {
    background-color: transparent;
    border: None;
    font-size: .9vw;
}