a {
    align-self: start;
    text-decoration: none;
    color: black;
}

section{
    padding:0px;
}

.category-name:hover {
    text-decoration: none;
    color:white;
}

.categories{
    display: grid;
    grid-template-columns: 12vw 16vw ;
    grid-template-rows: 3vw 3vw ;
    justify-items: start;
    padding-top: 1vw;
    padding-bottom: .5vw;
    padding-right: 0px;
    margin-left: 3%;
}

.category-header{
    font-size: 1.2vw;
    font-weight: bold;
    color:#002438;
}

.home-page{
    display: flex;
    flex-direction: row;
}

.items{
    font-size: 1.2vw;
}

.category-name{
    color: #bcb8b1;
    font-size: 1vw;
}

.left-side {
    padding-top: 14vw;
}

.right-side {
    color: black;
    font-size: 1.5vw;
    font-weight: normal;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    margin: 0 2%;
    padding:0;
}
.chart-section {
    display: flex;
}

.new-section{
    margin-left: 0;
    height: 35%;
    padding: 0.1em .7em 0.1em 1em;
    font-size: .8vw;
    font-weight: bold;
    font-family: "Avenir";
    text-transform: uppercase;
    color: white;
    border-radius: 2em;
    border: 0.15em solid #16262e;
    cursor: pointer;
    background-color: #16262e;
    justify-content: center;
}

.new-section:hover{
    color: black;
    background-color: #c6d2ed;
    border-color: #16262e;
}

h1{
    padding: 0;
}