ul {
    list-style: none;
    font-family: Avenir;
}
.item-info {
    display: flex;
    flex-direction: column;
    gap: .5vh;
    color:white;
}
.item-entry {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.list-header {
    display: grid;
    grid-template-columns: 20vw 20vw 13vw 13vw 8vw 9vw 1vw;
    padding-left: 3vw;
    font-weight: bold;
    font-family: "Square Peg";
    font-size: 2vw;
}
.products-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 2vw;
    padding-left: 5vw;
}