@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Square+Peg&display=swap");
html,body{
  height: 100%;
  background-color: #bcb8b1;
}

h1{
  font-family: "Square Peg";
  font-weight: lighter;
  font-size: 5vw;
  padding-left: 1vw;
}

h2{
  font-family: Avenir;
  font-size: 1.5vw;
}

.add-items{
  display: block;
  color: black;
}

.form-section {
  display: inline-block;
  width: 80%;
  text-align: left;
}

.left-side {
  display: block;
  justify-items: center;
  align-items: center;
}


