@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;600&family=Grape+Nuts&family=Source+Code+Pro:wght@300&display=swap');

.container {
  background-color: #F3E9DD;
  font-family: "Courier New";
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  flex-wrap: wrap;
  text-align: center;
}

.board-section {
  display: inline-block;
  width: 80%;
  text-align: left;
}

.product-list{
  display: inline-block;
  text-align: left;
  list-style: none;
}