@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Square+Peg&display=swap");
html,body{
  height: 100%;
  /*background-color: #637081;*/
  background-color: #EBECF0;
  font-family: "Helvetica Neue";
}

h1{
  font-family: "Helvetica Neue";
  font-weight: lighter;
  font-size: 5vw;
  padding-left: 1vw;
  /*color:#bfc3ba;*/
  color:white;
  background-color: #000000;
  /*background-color: rgba(0, 0, 0, 0.9);*/
}

h2{
  font-size: 1.5vw;
}

.add-items{
  display: block;
  color: black;
}

.form-section {
  display: inline-block;
  width: 80%;
  text-align: left;
}

.left-side {
  display: block;
  justify-items: center;
  align-items: center;
}


